.paraText {
    padding: 18px;
}

.paraText h2 {
    padding-top: 5px;
    font-size: 30px;
    color: #00C49F;
}

.paraText p {
    color: #606060;
    font-size: 11px;
}

.pnlclass {
    padding: 18px;
}

.uploadButtonClass button {
    background-color: #298BEA;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 45px;
    width: 220px;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    position: absolute;
    right:0;
    margin-right: 80px;
    font-weight: "bold";
    padding: "10px 20px";
}

.uploadButtonClass button:hover {
    background-color: rgb(0, 78, 156);
    cursor: pointer;
    transition: 0.3s ease-in;
}

.statclass {
    color: #606060;
    font-size: 14px;
}

.profitnum {
    color: #0BDA51;
}

.lossnum {
    color: #E30B5C;
}